{% extends './base.html' %}
{% block content %}

<div class="container" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
    <div class='jumbotron' style='width: 50%; '>
        
        <center><div style="margin-bottom: 40px;"><h1>Register</h1></div></center>
        <p>{{ error_message }}</p>
        <form method='POST' action='http://127.0.0.1:8000/reservation/register/'>
            {% csrf_token %}
            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Username</label>
                <div class='col-sm-10'>
                    <input type="text" class="form-control" id="name" placeholder='Enter the Username' name="name">
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="name">Email</label>
                <div class='col-sm-10'>
                    <input type="email" class="form-control" id="email" placeholder='Enter the Email' name="email">
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="amount">Password</label>
                <div class='col-sm-10'>
                    <input type="password" class="form-control" placeholder='Enter the Password' id="password" name="password">
                </div>
            </div>

            <div class="form-group row">
                <label class='form-label col-sm-2' for="amount">Confirm Password</label>
                <div class='col-sm-10'>
                    <input type="password" class="form-control" placeholder='Enter the Password' id="password" name="confirm_password">
                </div>
            </div>

            <center><input type="submit" class="btn btn-success" value='Register'></center>

        </form>
    </div>
</div>
{% endblock %}
